<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <table class="tx_simpleconsent-list">
        <tr>
            <th colspan="2"><f:translate key="partials_backend_propertiesImport.subHeadline" /></th>
        </tr>
        <tr>
            <td>
                <label for="mailList">
                    <f:translate key="partials_backend_propertiesImport.select" />:
                </label>
            </td>
            <td>
                <f:form.select name="mail"
                               id="mailList"
                               options="{mailList}"
                               optionValueField="uid"
                               optionLabelField="label"
                               value="{mail}" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="upload">
                    <f:translate key="partials_backend_propertiesImport.upload" />:
                </label>
            </td>
            <td>
                <f:form.upload name="file" id="upload" />
            </td>
        </tr>
    </table>
</html>
