<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Email/{mailType}" />

    <!-- PLAINTEXT -->
    <f:section name="Plaintext"><postmaster:email.plaintextLineBreaks>
        <postmaster:email.recipientSalutation queueRecipient="{queueRecipient}"
              prependText="{postmaster:email.translate(key:'templates_email_consent.salutation', languageKey:'{queueRecipient.languageCode}', extensionName:'simpleConsent')} "
              appendText="!"
              fallbackText="{postmaster:email.translate(key:'templates_email_consent.salutation', languageKey:'{queueRecipient.languageCode}', extensionName:'simpleConsent')}!"
        />\n\n
        
        {mail.textPlainFormatted}\n\n\n\n

        ### <postmaster:email.translate key="templates_email_consent.details" languageKey="{queueRecipient.languageCode}" extensionName="simpleConsent" />: ###\n
        <postmaster:email.uri.action action="show" controller="Consent" extensionName="simpleConsent" pluginName="Consent"
                 absolute="true" noCacheHash="true" pageUid="{settings.consentPid}"
                 additionalParams="{tx_simpleconsent_consent: {hash: recipient.hash}}" />
        \n\n
        <postmaster:email.translate key="templates_email_consent.security" languageKey="{queueRecipient.languageCode}" extensionName="simpleConsent" arguments="{0: settings.companyDomain}"/>\n\n\n\n

        {mail.textPlainFooterFormatted}
        
    </postmaster:email.plaintextLineBreaks></f:section>

    <!-- HTML -->
    <f:section name="Html">
        <h1>
            <postmaster:email.recipientSalutation queueRecipient="{queueRecipient}"
                  prependText="{postmaster:email.translate(key:'templates_email_consent.salutation', languageKey:'{queueRecipient.languageCode}', extensionName:'simpleConsent')} "
                  appendText="!"
                  fallbackText="{postmaster:email.translate(key:'templates_email_consent.salutation', languageKey:'{queueRecipient.languageCode}', extensionName:'simpleConsent')}!"
            />
        </h1>
        
        <f:format.raw>{mail.textHtml}</f:format.raw>

        <table>
            <tr>
            <tr>
                <td style="padding: 16px 32px 0 32px;">
                    <h2><postmaster:email.translate key="templates_email_consent.details" languageKey="{queueRecipient.languageCode}" extensionName="simpleConsent" />:</h2>
                </td>
            </tr>
            <tr>
                <td style="font-size:14px; padding: 16px 32px 0 32px;">
                    <strong>
                        <a href="<postmaster:email.uri.action action='show' controller='Consent' extensionName='simpleConsent' pluginName='Consent' absolute='true' noCacheHash='true' pageUid='{settings.consentPid}' additionalParams='{tx_simpleconsent_consent: {hash: recipient.hash}}'  />">
                            <postmaster:email.uri.action action="show" controller="Consent" extensionName="simpleConsent"
                                                         pluginName="Consent" absolute="true" noCacheHash="true" pageUid="{settings.consentPid}"
                                                         additionalParams="{tx_simpleconsent_consent: {hash: recipient.hash}}"  />
                        </a>
                    </strong>
                </td>
            </tr>
            <tr>
                <td style="color:#515151; font-size:12px; padding: 16px 32px 32px 32px;">
                    <postmaster:email.translate key="templates_email_consent.security" languageKey="{queueRecipient.languageCode}" extensionName="simpleConsent" arguments="{0: settings.companyDomain}"/>
                </td>
            </tr>
        </table>
        
        <f:format.raw>{mail.textHtmlFooter}</f:format.raw>
        
    </f:section>

</html>
