#typo3-docbody {
    margin-bottom: 0;
    font-size:1.2em;
}

select {
    min-width:300px;
}

input {
    width:100%;
}
input[type=checkbox],
input[type=radio] {
    width:auto;
}

textarea {
    height:300px;
    width:100%;
}

label {
    padding-right:1em;
}

.tx_simpleconsent-description {
    margin-bottom:2em;
}


table.tx_simpleconsent-list {
	border-collapse: collapse;
	width: 80%;
	border: 0;
    margin-bottom:2em;
}

table.tx_simpleconsent-list th,
table.tx_simpleconsent-list td {
	text-align: left;
	padding: 8px;
	border: 0;
}

table.tx_simpleconsent-list td {
    width:200px;
}

table.tx_simpleconsent-list td:last-child {
    width:80%;
}

table.tx_simpleconsent-list select,
table.tx_simpleconsent-list input,
table.tx_simpleconsent-list textarea {
    width:100%;
}

table.tx_simpleconsent-list input[type=checkbox],
table.tx_simpleconsent-list input[type=radio]{
    width:auto;
}

table.tx_simpleconsent-list textarea {
    height:300px;
}

table.tx_simpleconsent-list table.tx_simpleconsent-list__inner {
    width:100%;
}

table.tx_simpleconsent-list table.tx_simpleconsent-list__inner td,
table.tx_simpleconsent-list table.tx_simpleconsent-list__inner th {
    padding-bottom:0;
    padding-left:0;
    padding-right:16px;
}
table.tx_simpleconsent-list table.tx_simpleconsent-list__inner td {
    padding-top:0;
}

table.tx_simpleconsent-list tr:nth-child(even){
    background-color: #f2f2f2
}
table.tx_simpleconsent-list table.tx_simpleconsent-list__inner tr {
    background-color:transparent;
}

table.tx_simpleconsent-list th {
	background-color: #3c3d3f;
	color: #fff;
}

table.tx_simpleconsent-list table.tx_simpleconsent-list__inner th {
    background-color: transparent;
    color:#000;
}

table.tx_simpleconsent-list a,
table.tx_simpleconsent-list a:link,
table.tx_simpleconsent-list a:visited {
    text-decoration: underline;
}

/** ==================================================================================  */
/**
* COMPONENTS/TYPO3 Message
*
*  Severity:
*   const NOTICE = -2;
*   const INFO = -1;
*   const OK = 0;
*   const WARNING = 1;
*   const ERROR = 2;
* ================================================== */

.system-message {
    font-weight: bold;
    border: 4px solid #505050;
    background-color: #f2f2f2;
    border-radius: 8px;
    margin: 0 0 2em 0;
    padding: 1em 1em 0.5em 1em;
}

.system-message__item {
    font-size: 16px !important;
    font-size: 1.125rem;
    margin-bottom: 0.5em;
    padding-left: 2em;
    display: block;
}

.system-message__item a,
.system-message__item a:link,
.system-message__item a:visited,
.system-message__item a:hover {
    text-decoration: underline;
}

.system-message__item:before {
    font-size: 18px !important;
    font-size: 1.125rem;
    line-height: 1.2em;
    content: "\0021";
    display: block;
    float: left;
    margin: 0.1em 0 0 -1.5em;
}

.system-message__item--severity-1 {
    color: #e16a00;
}

.system-message__item--severity-1:before {
    content: "?";
}

.system-message__item--severity-1 a,
.system-message__item--severity-1 a:link,
.system-message__item--severity-1 a:visited,
.system-message__item--severity-1 a:hover {
    color: #e16a00;
}

.system-message__item--severity0 {
    color: #408040;
}

.system-message__item--severity0:before {
    content: "\2714";
}

.system-message__item--severity0 a,
.system-message__item--severity0 a:link,
.system-message__item--severity0 a:visited,
.system-message__item--severity0 a:hover {
    color: #408040;
}

.system-message__item--severity1 {
    color: #e16a00;
}

.system-message__item--severity1 a,
.system-message__item--severity1 a:link,
.system-message__item--severity1 a:visited,
.system-message__item--severity1 a:hover {
    color: #e16a00;
}

.system-message__item--severity2 {
    color: #ff0002;
}

.system-message__item--severity2:before {
    content: "\0021\0021";
}

.system-message__item--severity2 a,
.system-message__item--severity2 a:link,
.system-message__item--severity2 a:visited,
.system-message__item--severity2 a:hover {
    color: #ff0002;
}

.system-message ol, .system-message ul {
    margin-bottom: 0;
}