<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <f:render partial="FlashMessages" arguments="{_all}" />
        <f:render partial="FormErrors" arguments="{for:newAddress}" />

        <f:if condition="{address} && {address.status} < 10">

            <f:form action="decision" name="addressNew" object="addressNew" >
                <f:form.hidden name="hash" value="{hash}" />
                <f:form.hidden name="address" value="{address}" />
                
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{settings.textAbove}</f:format.html>
                <f:render partial="Frontend/Address" arguments="{_all}" />
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{settings.textBelow}</f:format.html>

                <div class="flex-container">
                    
                    <div class="form__approval">
                        <div class="form__field">
                            <f:form.radio class="radio" id="option-2" property="status" value="11" />
                            <label for="option-2" class="radio-label">
                                <f:format.raw><f:translate key="templates_show.confirmWithMarketing" arguments="{0: settings.companyName, 1: settings.companyEmail}" /></f:format.raw>
                                <f:link.page pageUid="{settings.privacyPid}" target="_blank"><f:format.raw><f:translate key="templates_show.confirm.partTwo" /></f:format.raw></f:link.page>
                                <f:format.raw><f:translate key="templates_show.confirm.partThree" /></f:format.raw>
                            </label>
                        </div>
                        <div class="form__field">
                            <f:form.radio class="radio" id="option-1" property="status" value="10" />
                            <label for="option-1" class="radio-label">
                                <f:format.raw><f:translate key="templates_show.confirm" arguments="{0: settings.companyName, 1: settings.companyEmail}" /></f:format.raw>
                                <f:link.page pageUid="{settings.privacyPid}" target="_blank"><f:format.raw><f:translate key="templates_show.confirm.partTwo" /></f:format.raw></f:link.page>
                                <f:format.raw><f:translate key="templates_show.confirm.partThree" /></f:format.raw>
                            </label>
                        </div>
                        <div class="form__field">
                            <f:form.radio class="radio" id="option-3" property="status" value="20" />
                            <label for="option-3" class="radio-label">
                                <f:format.raw><f:translate key="templates_show.delete" arguments="{0: settings.companyName}"/></f:format.raw>
                            </label>
                        </div>

                        <f:form.button class="btn btn--primary"><f:translate key="templates_show.submit" /></f:form.button>

                    </div>
                </div>

            </f:form>


        </f:if>
    </f:section>
</html>
