<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="content">
        <h1>
            <f:translate key="templates_backend_create.headline" />
        </h1>

        <p class="tx_simpleconsent-description">
            <f:translate key="templates_backend_create.description" />
        </p>
        
        <f:form action="save" name="mail" object="{mail}" class="form-fields">
            <f:render partial="PropertiesMail" arguments="{_all}" />
            <f:form.button class="btn btn-primary">
                <f:translate key="templates_backend_create.save" />
            </f:form.button>
        </f:form>
        
    </f:section>
</html>