<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <table class="responsive-table responsive-table--colored">
        <f:if condition="{address.gender}">
            <tr>
                <th><f:translate key="tx_simpleconsent_domain_model_address.gender" />:</th>
                <td>
                    <f:translate key="tx_simpleconsent_domain_model_address.gender.{address.gender}" />
                </td>
            </tr>
        </f:if>

        <f:for each="{
                'title': 'title', 
                'first_name': 'firstName', 
                'last_name': 'lastName',
                'company': 'company', 
                'address': 'address', 
                'zip': 'zip', 
                'city': 'city', 
                'phone': 'phone', 
                'email': 'email'
            }" as="field" key="key">
            
            <f:if condition="{address.{field}}">
                <tr>
                    <th><f:translate key="tx_simpleconsent_domain_model_address.{key}" />:</th>
                    <td>
                        {address.{field}}
                    </td>
                </tr>
            </f:if>
        </f:for>
    </table>
</html>
